/* ================================ FORM ===================================== */
.winshadow {
    }

.o2_form_window {
    border-bottom: 1px solid #6B6661;
    border-top: 1px solid #BDB5AE;
    border-left: 1px solid #a19a93;
    border-right: 1px solid #a19a93;
    border-radius: 5px;
    }

.o2_form_body {
    background-color: #eeeeee;
    border: none;
    overflow: hidden;
    }

.o2_form_title {
    background: #e0ddd9;
    height: 24px;
    text-align: center;
    border-bottom: none;
    }

.o2_form_title * {
    font-weight: bold;
    text-shadow: none;
    }

.o2_form_title_no {
    background: #e0ddd9;
    height: 24px;
    text-align: center;
    }

.o2_form_title_no * {
    color: #a19a93;
    font-weight: bold;
    text-shadow: none;
    }

.o2_form_doc {
    background: #e0ddd9;
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 5px;
    cursor: pointer;
    }

.o2_form_doc:before {
    content: url(form/doc.png);
    margin-left: 5px;
    }

.o2_form_doc:hover:before {
    content: url(form/doc_on.png);
    margin-left: 5px;
    }

.o2_form_close {
    background: #e0ddd9;
    width: 20px;
    line-height: 1px;
    cursor: pointer;
    }

.o2_form_close:before {
    content: url(form/min.png);
    }

.o2_form_close:hover:before {
    content: url(form/min_on.png);
    }

.o2_form_open {
    background: #e0ddd9;
    width: 20px;
    line-height: 1px;
    cursor: pointer;
    }

.o2_form_open:before {
    content: url(form/max.png);
    }

.o2_form_open:hover:before {
    content: url(form/max_on.png);
    }

.o2_form_exit {
    background: #e0ddd9;
    width: 22px;
    border-top-right-radius: 5px;
    line-height: 1px;
    cursor: pointer;
    }

.o2_form_exit:before {
    content: url(form/close.png);
    }

.o2_form_exit:hover:before {
    content: url(form/close_on.png);
    }

.o2_form_status {
    background-color: #e0ddd9;
    width: 100%;
    line-height: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    }

.o2_form_status_dis {
    background-color: #e0ddd9;
    width: 100%;
    line-height: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    }

.o2_form_corner {
    }

.o2_form_corner_dis {
    }

.o2_form_resize {
    background-image: url(form/grip.png);
    border-top: 1px solid #BDB5AE;
    border-left: 1px solid #a19a93;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 5px;
    width: 30px;
    height: 6px;
    cursor: se-resize;
    }

.o2_form_resize:hover {
    background-color: #ff9438;
    background-image: url(form/grip.png);
    border-top: 1px solid #BDB5AE;
    border-left: 1px solid #a19a93;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 5px;
    width: 30px;
    height: 6px;
    cursor: se-resize;
    }

.o2_form_resize_dis {
    }
